body {margin: 0;padding: 0;height: 100vh;display: flex;flex-direction: column;}
main#principal {flex: 1;display: flex;flex-grow:1;flex-direction: row;background: rgb(29, 88, 164);overflow: hidden;}
text {fill: white;font-weight: bold;font-family: Arial, sans-serif;text-anchor: middle;dominant-baseline: middle;font-size:0.875em;}
nav.navbar {flex-shrink: 0;}
.podium {
    position: relative;
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: space-between; /* Espaça os itens igualmente */
    align-items: flex-end;
}
.position {
    position: relative;
    transition: transform 1s ease-in-out, z-index 1s ease-in-out;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.position-1 {
    order: 2;
    flex-basis: 33%;
    bottom:55%;
    /*transform: scale(1);*/
    /*left: 45%;*/
    /*top: -120px;*/
    /*z-index: 3;*/
    /*transform: translateX(-50%) translateZ(30px) scale(0.6); !* Aumentado o tamanho inicial *!*/
    /*animation: move-forward 4s infinite;*/
    animation: move-forward 4s infinite;
}

.position-2 {
    order: 1;
    flex-basis: 33%;
    bottom:35%;
    /*left: -33%;*/
    /*top: -20px;*/
    /*z-index: 2;*/
    /*transform: translateX(-10%) translateZ(10px);*/
    animation: subtle-move 6s infinite;
}

.position-3 {
    order: 3;
    flex-basis: 33%;
    bottom:35%;
    /*right: -45px;*/
    /*top: -35px;*/
    /*z-index: 1;*/
    /*transform: translateX(-10%) translateZ(-100px);*/
    animation: subtle-move 6s infinite;
}




@keyframes move-forward {
    0%, 100% {
        transform: translateX(0) scale(0.8); /* Levemente menor */
        z-index: 1;
    }
    50% {
        transform: translateX(0) scale(1.2); /* Leve movimento para a frente */
        z-index: 2;
    }
}

@keyframes subtle-move {
    0%, 100% {
        transform: translateX(0) scale(0.8); /* Levemente menor */
        z-index: 1;
    }
    50% {
        transform: translateX(0) scale(0.9); /* Leve movimento para a frente */
        z-index: 2;
    }
}










.img-corretor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}



.info-text text {
    fill: #FFF;
    font-weight: bold;
}


.img-corretor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.medal-svg {
    width: 120px;
    height: 120px;
}

.info-text text {
    fill: #FFF;
    font-weight: bold;
}



.stage .position-1 svg {
    /*max-width: 30vw;*/
    width: 100%;
    /*height: auto;*/
    /**/
}

.stage .position-2 svg {width: 100%;height: auto;}

.stage .position-3 svg {width: 100%;height: auto;}




.img-div img {max-height: 60px;max-width: 60px;border-radius: 50%;width: auto;height: auto;}
.info-div p {margin: 0;padding: 0;}
footer {flex-shrink: 0;}
#dados_direito::-webkit-scrollbar {width: 3px;}
#dados_direito::-webkit-scrollbar-thumb {background-color: #00CED1;border-radius: 10px;}
#dados_direito::-webkit-scrollbar-track {background-color: #f0f0f0;}
.footer-buttons {background-color: #2e4a7a;padding: 5px 0;}
.footer-btn {flex: 1;border: 2px solid white;background-color: #2e4a7a;color: white;padding: 10px 0;text-align: center;font-size: 1.1em;position: relative;transition: all 0.3s ease;display: inline-flex;justify-content: center;align-items: center;}
.footer-btn::before {content: "";width: 24px;height: 24px;border: 2px solid white;border-radius: 50%;display: inline-block;margin-right: 8px;box-sizing: border-box;transition: all 0.3s ease;background-color: transparent;}
.footer-btn.active::before {border-color: #FFA500;background-color: #FFA500;box-shadow: 0 0 20px #FFA500, 0 0 30px #FFA500, 0 0 40px #FFA500;}
.footer-btn.active,
.footer-btn:hover {background-color: #FFD700;color: #2e4a7a;border-color: #FFA500;}
.footer-btn.active::before,
.footer-btn:hover::before {border-color: #FFA500;background-color: #FFA500;}
.footer-btn:hover::before {box-shadow: none;}

/* Modal Container */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.bg-individual {
    background-color: rgba(142, 169, 224, 0.3);
    color:white;
}

.bg-super-simples {
    background-color: rgba(234, 126, 50, 0.3);
    color:white;
}

.bg-pme {
    background-color: rgba(252, 191, 4, 0.3);
    color:white;
}

.bg-adesao {
    background-color: rgba(203, 204, 203, 0.3);
    color:white;
}

.bg-total-geral {
    background-color: rgba(142, 169, 224, 0.4); /* Um pouco mais escuro para diferenciar */
    color:white;
}

.modal-content {
    background-color: transparent;
    backdrop-filter: blur(15px);
    padding: 10px;
    border: 1px solid #888;
    width: 99%;
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    max-height: 70vh; /* 70% da altura da tela */
    overflow-y: auto; /* Rolagem se o conteúdo ultrapassar a altura */
}

.bg-dark {
    background-color: #333333; /* Cor de fundo próximo ao preto */
}

.bg-orange {
    background-color: #FFA500; /* Cor laranja para a barra de progresso */
}

.progress-bar-custom {
    color: white;
    font-weight: bold;
}




table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 1px;
    text-align: center;
    font-size:0.875em;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
}




@keyframes move-backward {
    0%, 100% {
        transform: translateX(-50%) translateZ(50px) scale(1.0);
        z-index: 2;
    }
    50% {
        transform: translateX(-50%) translateZ(0px) scale(0.9);
        z-index: 1;
    }
}

@keyframes fall-and-rotate {
    0% {
        transform: translateY(-180px) scale(0.2) rotate(0deg);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    50% {
        transform: translateY(20px) scale(1.0) rotate(0deg);
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: translateY(20px) scale(1.0) rotate(-90deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(40px) scale(1.0) rotate(90deg);
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
}




@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-105px);
        transform: translateY(-105px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}



@keyframes move-backward {
    0%, 100% {
        transform: translateX(-50%) translateZ(50px) scale(1.0);
        z-index: 2;
    }
    50% {
        transform: translateX(-50%) translateZ(0px) scale(0.9);
        z-index: 1;
    }
}

@keyframes fall-and-rotate {
    0% {
        transform: translateY(-105px) scale(0.5) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: translateY(100px) scale(1.0) rotate(0deg);
    }
    75% {
        transform: translateY(100px) scale(1.0) rotate(-90deg);
    }
    100% {
        transform: translateY(100px) scale(1.0) rotate(90deg);
        opacity: 1;
    }
}
